@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500&family=Roboto+Mono&display=swap');

body {
  background-color: gainsboro;
}

h1,
h2,
h3,
h4,
ul li {
  font-family: 'Pixelify Sans', cursive;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

ul li {
  font-weight: 400;
  font-size: 1rem;
}

.main-heading {
  margin: 50px 0;
  border: 1px solid darkgrey;
  border-radius: 10px;
  background: cornflowerblue;
}

.main-heading h1 {
  margin: 50px 0;
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  background: cadetblue;
  color: chartreuse;
}