.pet-list {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5%
}

/* mobile */
@media (max-width: 575px) {
  .pet-list {
    grid-template-columns: 1fr;
  }

  .pet-card {
    margin-bottom: 5px;
  }

  .pet-card img {
    width: 50%;
  }
}

/* tablet */
@media (min-width: 576px) and (max-width: 996px) {
  .pet-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 820px)and (max-width: 1024px) {
  .pet-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* desktop */
@media (min-width: 769px)and (max-width: 1024px) {
  .pet-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px)and (max-width: 1440px) {
  .pet-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px)and (max-width: 1599px) {
  .pet-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .pet-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.pet-card h2#pet-name {
  font-size: 2.2rem;
  cursor: pointer;
  border: 1px solid darkkhaki;
  border-radius: 15px;
  padding: 10px;
  font-weight: 100;
  color: #09656a;
  background: #17560317;
}

.pet-card {
  background: floralwhite;
  border: 1px solid rgb(255 249 185);
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: -4px -4px 1px -3px;
  margin-bottom: 5%;
}

.pet-card img {
  border-radius: 10px;
  width: 70%;
  border: 3px solid #4e4e4e;
  box-shadow: -3px 2px 1px 0px;
}

.pet-card ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  background: beige;
  border-radius: 15px;
  padding: 2% 5%;
}

.pet-card ul li {
  padding: 5px;
  letter-spacing: 0.1px;
  text-wrap: nowrap;
}

.pet-info-btn {
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  width: 65%;
}